*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.container {
  font-family: 'Lato', sans-serif;
  .outerdiv {
    .innerdiv {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      .button {
        width: 120px;
        height: 36px;
        border: none;
        border-radius: 6px;
        margin: 0 0 12px 0;
        background-color: #151515;
        box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        color: #fff;
        font-size: 16px;
        font-family: 'Lato', sans-serif;

        &:hover {
          background-color: #27374d;
          color: white;
        }

        &:active {
          background-color: #272829;
          color: white;
        }
      }
    }
    .taskcontainer {
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .taskcase {
        background-color: #F5F7F8;
        margin-bottom: 12px;
        display: grid;
        grid-template-columns: 0.1fr 4fr 1fr 2fr 1fr 0.3fr;
        align-items: center;
        height: 36px;
        box-sizing: border-box;
        padding: 6px;
        
      }
    }
  }
}